@page "/statistics"
@using ChartJs.Blazor
@layout OperationsLayout

<PageTitle>Статистика</PageTitle>

<Chart Config="_config"
       @ref="_chart">
</Chart>

<button @onclick="PaymentsFilter.Search">Randomize Data</button>
