@page "/Account/Lockout"

<PageTitle>Аккаунт заблокирован</PageTitle>

<header>
    <h1 class="text-danger">Аккаунт заблокирован</h1>
    <p class="text-danger">Этот аккаунт был заблокирован, пожалуйста, попробуйте снова позже.</p>
</header>
