@if (_isDatePickerVisible)
{
    <div style="position: relative;">
        <MudDatePicker @ref="_datePicker"
                       @bind-Date="Date"
                       Color="Color.Tertiary"
                       DateFormat="dd.MM.yyyy"
                       Editable
                       For="@For"
                       Label="Дата"
                       Mask="@(new DateMask("dd.MM.yyyy"))"
                       PickerClosed="OnPickerClosedAsync" />
        <MudIconButton Color="Color.Tertiary"
                       Icon="@Icons.Material.Rounded.Edit"
                       OnClick="SwitchToTextInputAsync"
                       Size="Size.Small"
                       Style="position: absolute; right: 24px; top: 65%; transform: translateY(-50%); z-index: 1000;"
                       Title="Текстовый ввод" />
        @* TODO: По идее Style и сама кнопка не нужна, т. к. всегда при закрытии переключится, но на всякий случай *@
    </div>
}
else
{
    <MudTextField Adornment="Adornment.End"
                  AdornmentColor="Color.Tertiary"
                  AdornmentIcon="@Icons.Material.Rounded.CalendarMonth"
                  @bind-Value="_dateText"
                  Clearable
                  HelperText="дд.мм.гггг или сегодня/завтра/вчера"
                  Immediate
                  Label="Дата"
                  OnAdornmentClick="OpenDatePickerAsync"
                  OnBlur="OnTextFieldBlurAsync"
                  T="string" />
}
