<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    <targets>
        <target name="custom" xsi:type="Console" />
    </targets>
    <rules>
        <logger name="Money.Api.Middlewares.ExceptionMiddleware" minlevel="Warn" writeTo="custom" />
    </rules>
</nlog>
