@{
    ViewBag.Title = "Андройд";
}
<label>Андройд</label>
Ничего не собираем с вашего телефона, нигде не храним.
Некоторые права нужны чтобы сохранить логин пароль в аккаунты телефона, дабы не вводить каждый раз.
