.payment-day {
    margin-top: 10px;
}

.payment-day-head {
    background-color: var(--mud-palette-primary-darken);
    padding: 5px;
}

.payment-day-body {
    background-color: var(--mud-palette-primary-lighten);
    padding: 5px;
}