.payment-day {
    margin-top: 10px;
}

.payment-day-head {
    padding: 5px;
    background-color: #dddddd;
}

.payment-day-body {
    padding: 5px;
    background-color: #ffffff;
}

.payment-day span {
    color: #000000;
}

.payment-day .title {
    color: #000000;
    font-size: 15px;
    vertical-align: top;
    line-height: 21px;
}
