name: Main

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
    inputs:
      tag:
        description: 'Select configuration'
        required: true
        type: string
        default: 'production'
      configuration:
        description: 'release/debug'
        required: true
        type: choice
        default: 'release'
        options:
          - debug
          - release
env:
  API_PROJECT_FILE: 'backend\Money.Api\Money.Api.csproj'
  API_PUBLISH_FOLDER: 'publish\api'
  
  WEB_PROJECT_FILE: 'frontend\Money.Web\Money.Web.csproj'
  WEB_PUBLISH_FOLDER: 'publish\web'

jobs:
  build:
    if: ${{ github.event.inputs.tag != 'production' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

  integration:
    if: ${{ github.event.inputs.tag != 'production' }}
    permissions:
      pull-requests: write
      contents: write
      statuses: write
      checks: write
      actions: write

    uses: ./.github/workflows/integration.yml

  backend:
    if: ${{ github.event.inputs.tag != 'production' }}
    uses: ./.github/workflows/backend.yml

  frontend:
    if: ${{ github.event.inputs.tag != 'production' }}
    uses: ./.github/workflows/frontend.yml

  build-and-deploy:
    runs-on:
      labels: BobGroupWindowsServer
    environment: globals
    if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag == 'production' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup .NET Core SDK ${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      
      - name: API Restore dependencies
        run: dotnet restore ${{ env.API_PROJECT_FILE }}
      
      - name: API Publish
        run: dotnet publish ${{ env.API_PROJECT_FILE }} -c ${{ github.event.inputs.configuration }} -o ${{ env.API_PUBLISH_FOLDER }}

      - name: API Copy new files
        env:
          SAMBA_USER: ${{ vars.SAMBA_USER }}
          SAMBA_PASS: ${{ secrets.SAMBA_PASS }}
        run: |
          $SambaServer = "192.168.0.17"
          $SambaShare = "publish"
          $DestDir = "\\$SambaServer\$SambaShare\bob217money\production\api"
      
          # Подключаем SMB-шару с аутентификацией
          net use \\$SambaServer\$SambaShare /user:$env:SAMBA_USER $env:SAMBA_PASS /persistent:no
      
          # Создаем папку назначения (если её нет)
          if (-not (Test-Path -Path $DestDir)) {
            New-Item -ItemType Directory -Path $DestDir -Force | Out-Null
          }
      
          # Копируем всё содержимое (рекурсивно)
          Copy-Item -Path "${{ env.API_PUBLISH_FOLDER }}\*" -Destination $DestDir -Recurse -Force -Exclude "web.config", "appsettings.json", "nlog.config"
      
          # Отключаем шару
          net use \\$SambaServer\$SambaShare /delete /y
      
      - name: Restore workload
        run: dotnet workload restore ${{ env.WEB_PROJECT_FILE }}
      
      - name: WEB Restore dependencies
        run: dotnet restore ${{ env.WEB_PROJECT_FILE }}
      
      - name: WEB Publish
        run: dotnet publish ${{ env.WEB_PROJECT_FILE }} -c ${{ github.event.inputs.configuration }} -o ${{ env.WEB_PUBLISH_FOLDER }}
      
      
      - name: WEB Copy new files
        env:
          SAMBA_USER: ${{ vars.SAMBA_USER }}
          SAMBA_PASS: ${{ secrets.SAMBA_PASS }}
        run: |
          $SambaServer = "192.168.0.17"
          $SambaShare = "publish"
          $DestDir = "\\$SambaServer\$SambaShare\bob217money\production\web"
      
          # Подключаем SMB-шару с аутентификацией
          net use \\$SambaServer\$SambaShare /user:$env:SAMBA_USER $env:SAMBA_PASS /persistent:no
      
          # Создаем папку назначения (если её нет)
          if (-not (Test-Path -Path $DestDir)) {
            New-Item -ItemType Directory -Path $DestDir -Force | Out-Null
          }
      
          # Копируем всё содержимое (рекурсивно)
          Copy-Item -Path "${{ env.WEB_PUBLISH_FOLDER }}\*" -Destination $DestDir -Recurse -Force -Exclude "web.config", "appsettings.json", "nlog.config"
      
          # Отключаем шару
          net use \\$SambaServer\$SambaShare /delete /y
