<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>

    <targets>
        <target name="system" xsi:type="File" fileName="${logDirectory}/system.log"/>
        <target name="custom" xsi:type="File" fileName="${logDirectory}/${logger:shortName=True}.log"/>
        <target name="lifetimeConsole" xsi:type="ColoredConsole" layout="${MicrosoftConsoleLayout}"/>
    </targets>

    <rules>
        <logger name="System.*" finalMinLevel="Warn"/>
        <logger name="Microsoft.*" finalMinLevel="Warn"/>
        <logger name="Microsoft.AspNetCore.*" finalMinLevel="Info"/>
        <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info"/>
        <logger name="OpenIddict*" finalMinLevel="Info"/>

        <logger name="*" minlevel="Info" writeTo="lifetimeConsole"/>
        <logger name="Money.Api.*" writeTo="custom" final="true"/>
        <logger name="*" minlevel="Info" writeTo="system"/>
    </rules>
</nlog>
